@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Manrope';
  overflow: hidden;
}

body{
    
    background-size: cover;
}

.navbar{
    height: 10vh;
    
    padding: 0 75px 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.377);
    box-shadow: rgba(0, 0, 0, 0.308) 0px 7px 29px 0px;
    transition: all 0.3s ease-in-out;
}

.navbar p{
    font-weight: 700;
}
.main{
    height: 75vh;
    width: auto;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    background-color: rgba(255, 255, 255, 0.575);
    transition: all 0.3s ease-in;
}
.heading{
    
    display: flex;
    flex-direction: column;
    
    
}
.heading h1{
    padding: 10px 0;
    font-size: 2rem;
    
}
.heading a{
    text-decoration: none;
    color: black;
}
.heading p{
    font-size: 1rem;
}
.generator{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 10px 10px 10px;

}
.color-div{
    height: 300px;
    width: 300px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    
}
.color{
    height: 90%;
    width: 100%;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    
   
}
form{
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
}
form input{
    height: 25px;
    width: 50px;
    padding: 0 5px;
}
.msg{
    height: 1.1rem;
}
.msg p{
    font-size: 0.7rem;
    text-align: center;
    
}
.name{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.hex{
    text-align: center;
}
.button-div{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.btn{
    
    padding: 10px 20px;
    border: none;
    background-color: rgb(0, 110, 255);
    color: white;
    font-weight: 900;
    border-radius: 50px;
    

}
.btn:hover{
    background-color:  rgba(0, 110, 255, 0.849);
}
.pallette{
    display: flex;
    z-index: -1;
   

}
.pellet{
    height: 15vh;
    width: calc(100vw/10);
    z-index: -1;      
}
.white{
    background-color: white !important;
}
.plt1{
    background-color: rgba(255, 255, 255, 0.70);
}
.plt2{
    background-color: rgba(255, 255, 255, 0.60);
}
.plt3{
    background-color: rgba(255, 255, 255, 0.40);
}
.plt4{
    background-color: rgba(255, 255, 255, 0.20);
}
.plt5{
    background-color: rgba(255, 255, 255, 0);
}
.plt6{
    background-color: rgba(0, 0, 0, 0.20);
}
.plt7{
    background-color: rgba(0, 0, 0, 0.40);
}
.plt8{
    background-color: rgba(0, 0, 0, 0.60);
}
.plt9{
    background-color: rgba(0, 0, 0, 0.80);
}
.plt10{
    background-color: rgba(0, 0, 0, 0.90); 
}
@media screen and (width<1020px){
    .main{
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px;
    }
    .heading{
        padding: 0px 0 30px;
        align-items: center;
    }
    .generator{
        padding: 0;
    }
}
